<%= flash["alert"] %>
<h1>Sign In!</h1>
<a href="<%= new_user_url %>">Don't have an account? Sign up now!</a>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_username">Username or Email</label>
  <input type="text" id="user_username" name="credentials[login_name]">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="credentials[password]">

  <input type="submit" class="btn" value="Sign In!">
</form>
