<form id="new-notebook">
  <label class="hidden" for="noteboook_name">Name</label>
  <input type="text" class="input-block-level" id="notebook_name" name="notebook[name]" placeholder="Add a Notebook">
<!--   <input class="hidden" type="submit" id="add_notebook" value="Add Notebook"> -->
</form>