<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <% flash.each do |key, value| %>
      <div class="flash alert-<%= key %>"><%= value.html_safe %></div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    <h1>Update Your Password</h1>

    <form action="<%= user_url %>" method="post" role="form">
      <fieldset>
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="old_password">Current Password</label>
          <input type="password" class="form-control" id="old_password" name="old_password">
        </div>

        <div class="form-group">
          <label for="user_password">New Password</label>
          <input class="form-control" type="password" id="user_password" name="user[password]">
        </div>

        <div class="form-group">
          <label for="user_password_confirmation">New Password Confirmation</label>
          <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
        </div>

        <input type="submit" class="btn" value="Update Password">
      </fieldset>
    </form>
  </div>
</div>
