<h1>NoteClipr</h1>
<p>NoteClipr is an Evernote clone by <a href="http://www.github.com/bseligman/">Ben Seligman</a>. NoteClipr uses a <strong>Backbone</strong> frontend serviced by a restful <strong>Rails</strong> API. Key features:</p>
<ul>
  <li>Custom user authentication with BCrypt</li>
  <li>WYSIWYG rich-text note editing</li>
  <li>Images can be added inline to notes</li>
  <li>Custom note search with typeahead</li>
  <li>Optional public note-sharing</li>
  <li>Notes can be tagged and filtered by tag</li>
  <li>Notes can be dragged to move them to new notebooks</li>
</ul>

<p>Source code is available on <a href="http://www.github.com/bseligman/note-clipr">github</a>.</p>