<h1>NoteClipr</h1>
<p>NoteClipr is an Evernote clone built using a <strong>Backbone</strong> frontend serviced by a restful <strong>Rails</strong> API. <a href="http://www.github.com/bseligman">Ben Seligman</a> developed NoteClipr as a capstone project for <a href="http://www.appacademy.io">App Academy</a>. Key features:</p>
<ul>
<li>Custom user authentication with BCrypt</li>
<li>WYSIWYG rich-text note editing</li>
<li>Images can be added inline to notes</li>
<li>Custom note search with typeahead</li>
<li>Optional public note-sharing</li>
<li>Notes can be tagged and filtered by tag</li>
</ul>

<p>Source code is available on <a href="http://www.github.com/bseligman/note-clipr">github</a>.</p>