<h1>Notes</h1>
<% if (inNotebook) {%>
  <button id="new-note" class="btn" type="Submit">Add a Note!</button>
<% } %>

<ul id="notes-index">
  <% collection.each(function (model) { %>
      <li data-id="<%= model.id %>">
        <strong><%= model.escape("title") || "Untitled" %></strong>
        <br>
        Last updated: <%= model.get("updated_at") ? $.timeago(model.get("updated_at")) : "" %>
      </li>
  <% }); %>
</ul>
