<h1>Notes</h1>
<% if (inNotebook) {%>
  <button id="new-note" type="Submit">Add a Note!</button>
<% } %>
<ul id="notes-index">
  <% collection.each(function (model) { %>
      <li data-id="<%= model.id %>">
        <%= model.escape("title") || "Untitled" %>
      </li>
  <% }); %>
</ul>
