<h1>Notes</h1>
<h2><%= parentModel.escape("name") %></h2>
<ul id="notes-index">
  <% this.collection.each(function (model) { %>
      <li data-id="<%= model.id %>">
        <%= model.escape("title") || "Untitled" %>
      </li>
  <% }); %>
</ul>
