<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Notebooks</div>
        <div class="panel-body" id="notebooks"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body" id="tags"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Notes</div>
        <div class="panel-body" id="notes"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">View</div>
        <div class="panel-body" id="note-detail"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/json" id="bootstrapped-notebooks">
  <%= render(:file => 'notebooks/index', :formats => [:json], :locals => { :notebooks => self.current_user.notebooks.includes(:notes => [:tags]) }) %>
</script>

<script type="text/json" id="bootstrapped-user">
  <%= self.current_user.to_json %>
</script>

<script type="text/javascript">
  $(function () {
    var notebookDiv = $("<div>");
    notebookDiv.html($("#bootstrapped-notebooks").text());
    var notebooksData = JSON.parse(notebookDiv.text());

   var userDiv = $("<div>");
   userDiv.html($("#bootstrapped-user").text());
   var currentUser = JSON.parse(userDiv.text());

    NoteClipr.initialize(currentUser, notebooksData);
  });
</script>