.note-list {
  float:left;
  width:25%;
  border: 1px solid black;
}

.notebook-list {
  float:left;
  width: 28%;
  border: 1px solid black;
}

.note-form {
  float:left;
  width: 45%;
  border: 1px solid black;
}