@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);


@media screen and (max-width: 800px) {
  .navbar-extras {
    display:none;
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(254, 254, 254);
}

.panel-body {
  padding: 0;
  background-color: rgb(252, 252, 252);
}

.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.fill {
  position: relative;
  height: 100%;
}

.notop {
  margin-top: 0;
}

.tagging {
  border: solid gray 2px;
  margin-right: 5px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.list-item {
  background-color: rgb(252, 252, 252);
  cursor: pointer;
  padding-bottom: 2px;
}

.list-item:hover {
  background-color: rgb(237, 239, 242);
}

.ui-draggable-dragging {
  opacity: 0.4;
}

.active {
  background-color: rgb(209, 211, 214);
}

.hidden {
  display:none;
  margin:0;
}

.panel-default {
  margin: 3px;
}

button {
  margin-top: 5px;
}

.deemphasized {
  color: rgb(105, 140, 179);
}

