.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.fill {
  position: relative;
  height: 100%;
}

.tagging {
  border: solid gray 2px;
  margin-right: 5px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: rgb(200, 200, 200);
  /*background-color: rgba(100, 100, 100, 0.5);*/
}

.hidden {
  display:none;
  margin:0;
}

.list-item {
  border: solid rgb(245, 245, 245) 2px;
  cursor: pointer;
}

.panel-body {
  padding: 0;
}

.panel-default {
  margin: 3px;
}

button {
  margin-top: 5px;
}

.deemphasized {
  color: rgb(152, 152, 152);
}

.highlighted {
  background-color: rgb(220, 220, 220);
}