<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">NoteClipr</a>
    </div>
    <form class="navbar-form navbar-left" role="search"></form>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "Welcome, #{current_user.username}", edit_user_url %></li>
        <li><%= link_to "Sign out", session_url, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      <% end %>
    </ul>

  </div>
</nav><!-- /navbar -->