<!DOCTYPE html>
<html>
<head>
  <title>NoteClipr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= yield %>
    <div class="container">
      <div class="row">
        <div class="column" id="notebooks-tags"></div>
        <div class="column" id="notes"></div>
        <div class="column" id="note-detail"></div>
      </div>
    </div>
  </body>
</html>
