<h1>Tags</h1>
<ul id="tag-list">
  <% this.collection.each(function (model) { %>
    <li data-id="<%= model.id %>" class="<%= model.get("active") ? "active" : "" %>">
      <%= model.escape("body") %>
    </li>
  <% }); %>
</ul>