<strong>Tags: </strong>
<% tags.each(function (tag) { %>
  <span class="tagging btn" data-id="<%= tag.id %>">
    <%= tag.escape("body") %> <span class="glyphicon glyphicon-remove"></span>
  </span>
<% }) %>
